<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="resource/css/onsenui.css">
	<link rel="stylesheet" href="resource/css/onsen-css-components.min.css">
	<script src="resource/js/onsenui.min.js"></script>
	<script src="resource/js/jquery.min.js"></script>
</head>
<body>
	<ons-page>
		<div style="text-align: center; margin-top: 200px">
			<p>
				<ons-input id="username" placeholder="Username" modifier="underbar"></ons-input>
			</p>
			<p>
				<ons-input id="password" placeholder="Password" type="password"
					modifier="underbar"> </ons-input>
			</p>
			<p>
				<ons-button id='sign_in_btn'>Sign in</ons-button>
			</p>
		</div>
	</ons-page>
	<script>
	$(function(){ 
		$('#sign_in_btn').on('click', function(e) { 
			const username = document.querySelector('#username').value;
			const password = document.querySelector('#password').value;
			
			if (username === 'user' && password === 'pass') {
			  ons.notification.alert('Correct!');
			} else {
			  ons.notification.alert('Wrong username/password combination');
			}
		}) 
	});
	</script>
</body>
</html>
